# Nome: João Emanuel - Matrícula: 162080263 - Data 11/Agosto/2020

## Listas

In [4]:
l = ['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']
l

['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']

In [8]:
l2 = ['lenço em papel', 'pilha', 'pasta de dente']
l2

['lenço em papel', 'pilha', 'pasta de dente']

In [9]:
item1 = l[0]
item2 = l[1]
print(item1, ' - ', item2)

álcool em gel  -  algodão

In [10]:
# tamanho da lista
len(l), len(l2)

(5, 3)

In [11]:
l2[1] = 'pilha palito'
l2

['lenço em papel', 'pilha palito', 'pasta de dente']

In [12]:
del l2[1]
l2

['lenço em papel', 'pasta de dente']

In [13]:
lista = [[1,2,3],[4,5,6],[7,8,9]]
print(lista)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
lista[1]

[4, 5, 6]

In [15]:
lista[0]

[1, 2, 3]

In [16]:
lista[1][0]

4

In [17]:
a = lista[1][0]
a

4

In [18]:
b = lista[1]
b

[4, 5, 6]

In [19]:
type(b)

list

In [20]:
c = lista[1][0] + 10
c

14

# Concatenar listas

In [21]:
l, l2

(['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro'],
 ['lenço em papel', 'pasta de dente'])

In [22]:
l3 = l + l2
l3

['álcool em gel',
 'algodão',
 'máscara',
 'antisséptico',
 'álcool puro',
 'lenço em papel',
 'pasta de dente']

# Operador in

In [34]:
ln = [1000, -2, -5, 3.14159]
ln

[1000, -2, -5, 3.14159]

In [24]:
10 in ln

False

In [25]:
-2 in ln

True

# Funções

In [26]:
len(ln)

4

In [27]:
max(ln)

1000

In [28]:
min(ln)

-5

In [35]:
ln.append(9)
ln

[1000, -2, -5, 3.14159, 9]

In [36]:
ln = ln + [33]
ln

[1000, -2, -5, 3.14159, 9, 33]

In [37]:
ln = ln + 33

TypeError: can only concatenate list (not "int") to list

In [38]:
ln = ln + [33]
ln

[1000, -2, -5, 3.14159, 9, 33, 33]

In [39]:
ln.count(33)

2

In [40]:
a = []
type(a)

list

In [41]:
a.append(10)
a

[10]

In [42]:
a.append(20)

In [43]:
a.append(30)

In [44]:
a

[10, 20, 30]

In [45]:
b = a
b

[10, 20, 30]

In [46]:
b = []
for item in a:
    b.append(item)
b

[10, 20, 30]

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
ln = []
for i in range(10):
    print(i + 1)
    ln.append(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
ln

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
ln.sort()

In [55]:
ln.append(-1)
ln

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1]

In [56]:
ln.sort()
print(ln)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuplas

In [57]:
t1 = ('UEPB', 2020, 'cct')
t1

('UEPB', 2020, 'cct')

In [58]:
t1.append('DC')

AttributeError: 'tuple' object has no attribute 'append'

In [59]:
t1[0]

'UEPB'

In [60]:
len(t1)

3

In [61]:
t1[1:]

(2020, 'cct')

In [62]:
t1[0] = 'uepb-cct'

TypeError: 'tuple' object does not support item assignment

In [63]:
# del t1

In [65]:
l1 = list(t1)
type(l1)

list

In [66]:
l1

['UEPB', 2020, 'cct']

In [68]:
l1[0] = 'uepb-cct'
print(l1)

['uepb-cct', 2020, 'cct']

# Dicionário

In [69]:
d1 = {
    'Mateus': 24,
    'Fernanda': 22,
    'Tamires': 26,
    'Cristiano': 25
}
type(d1)

dict

In [70]:
d1

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [71]:
d1.values()

dict_values([24, 22, 26, 25])

In [72]:
d1.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [73]:
d1.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [74]:
d1['Fernanda']

22

In [75]:
d1['Pedro'] = 27
d1

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 27}

In [76]:
d2 = {}

In [77]:
d2

{}

In [78]:
d2['Mariana'] = 28
d2['Fabio'] = 27
d2

{'Mariana': 28, 'Fabio': 27}

In [79]:
# junção
d1.update(d2)
d1

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Pedro': 27,
 'Mariana': 28,
 'Fabio': 27}

In [80]:
d1[10] = 340
d1

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Pedro': 27,
 'Mariana': 28,
 'Fabio': 27,
 10: 340}

In [81]:
d1[10]

340

In [82]:
d1[0]

KeyError: 0

In [83]:
d1.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano', 'Pedro', 'Mariana', 'Fabio', 10])

In [85]:
idade1, idade2 = d1['Mateus'], d1['Fabio']
idade1, idade2

(24, 27)

In [86]:
d3 = {
    'k1': 1256,
    'k2': [
        23,
        27,
        'UEPB',
        29
    ],
    'k3': [
        'álcool em gel',
        'algodão', 
        'máscara', 
        'antisséptico',
        'álcool puro'
    ]
}
d3

{'k1': 1256,
 'k2': [23, 27, 'UEPB', 29],
 'k3': ['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']}

In [87]:
d3['k2']

[23, 27, 'UEPB', 29]

In [88]:
d3['k2'][2]

'UEPB'

In [90]:
produto = d3['k3'][4]
produto

'álcool puro'

In [91]:
produto = d3['k3'][5]
produto

IndexError: list index out of range

In [92]:
produto = d3['k3'][4].upper()
produto

'ÁLCOOL PURO'

In [93]:
v1 = d3['k1'] - 1000
v1

256

In [94]:
d3

{'k1': 1256,
 'k2': [23, 27, 'UEPB', 29],
 'k3': ['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']}

In [95]:
d3['k1'] = d3['k1'] - 1000
d3

{'k1': 256,
 'k2': [23, 27, 'UEPB', 29],
 'k3': ['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']}

In [98]:
d3['k1'] -= 100 # d3['k1'] - 1000
d3

{'k1': 156,
 'k2': [23, 27, 'UEPB', 29],
 'k3': ['álcool em gel', 'algodão', 'máscara', 'antisséptico', 'álcool puro']}

In [99]:
d4 = {
    'k1': {
        'k11': 1
    },
    'k2': -2
}
d4

{'k1': {'k11': 1}, 'k2': -2}

In [100]:
d4['k2']

-2

In [101]:
d4['k1']

{'k11': 1}

In [102]:
d4['k1']['k11']

1

In [103]:
d3.keys()

dict_keys(['k1', 'k2', 'k3'])

In [104]:
'k1' in d3.keys()

True

In [105]:
if 'k1' in d3.keys():
    print('ok')
    x = d3['k1']
    print(x)

ok
156